#section-footer
  .container-fluid
    .row
      .col-md-12.col-xs-12
        .col-md-10.col-xs-12
          %ul.footer-menu
            %li= link_to t('menu.home')
            %li= link_to t('menu.team')
            %li= link_to t('menu.expertise')
            %li= link_to t('menu.news')
            %li= link_to t('menu.contact')
        .col-md-2.col-xs-12
          %p.text-copyright.pull-right Copyright
