%nav.navbar.nav-bar.navbar-nav.navbar-default.navbar-fixed-top
  .container
    .row
      .col-md-3.col-xs-12.pull-left
        .navbar-header
          %button.c-hamburger.c-hamburger--htx.collapsed.visible-sm.visible-xs.pull-right{"aria-expanded" => "false", "data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span toggle menu
          %a.navbar-brand{:href => "/#section-header"}
      .col-md-6.pull-left.visible-md.visible-lg
        %ul.nav.navbar-nav.pull-right
          %li
            %a{:href => "/#section-header"}= t('menu.home')
          %li
            %a{:href => "/#section-team"}= t('menu.team')
          %li= link_to t('menu.expertise')
          %li= link_to t('menu.news')
          %li
            %a{:href => "/#section-contact"}= t('menu.contact')

      .hidden-lg.hidden-md
        .col-md-6.collapse.navbar-collapse#navbar-collapse-1
          %ul.nav-menu.mobile-menu
            %li
              %a{:href => "/#section-header"}= t('menu.home')
            %li
              %a{:href => "/#section-team"}= t('menu.team')
            %li= link_to t('menu.expertise')
            %li= link_to t('menu.news')
            %li
              %a{:href => "/#section-contact"}= t('menu.contact')
      .col-md-2.col-sm-2.pull-right.hidden-sm.hidden-xs
        .nav-buttons
          %a
            %button.button.button-phone 0789.567.432
